<section>
  <div class="p-3">
    <h4 mat-dialog-title>Request Approval</h4>
    <mat-dialog-content>
      <div>
        <div class="summary-block">
          <div class="step-header">
            <span class="user-role" jhiTranslate="contractmanager.teamManagement.approver">Approver</span>
          </div>
          <div class="flex-row-wrap section">
            <div class="form-pair" *ngFor="let user of approvers">
              <div class="form-value">{{ user.firstName + ' ' + user.lastName | titlecase }}</div>
            </div>
          </div>
        </div>
      </div>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label jhiTranslate="contractmanager.shared.messageForApproval">Message for Approval</mat-label>
        <textarea class="comment-box" matInput [(ngModel)]="message"></textarea>
        <mat-error jhiTranslate="contractmanager.shared.descriptionMaxLength">Description must be less than 1000 characters</mat-error>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="justify-content-center">
      <div>
        <button class="mr-2" mat-raised-button jhiTranslate="contractmanager.shared.cancel" (click)="cancel()" mat-dialog-close>
          Cancel
        </button>
        <button mat-raised-button color="primary" jhiTranslate="contractmanager.shared.sendForApproval" [mat-dialog-close]="message">
          Send for Approval
        </button>
      </div>
    </mat-dialog-actions>
  </div>
</section>
