<div class="dashboard-container">
  <div class="title">
    <span jhiTranslate="contractmanager.userManagement.userManagement">User Management</span>
  </div>
  <div class="grid-container tiles-container">
    <!-- <div mat-ripple class="tile flex-container" [routerLink]="['../configuration/view-contract-types']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/user-org.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.userManagement.manageOrganisation">Manage Organisation</div>
      </div>
    </div>
    <div mat-ripple class="tile flex-container" [routerLink]="['../configuration/create-contract-type']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/user-org.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.userManagement.organisationStructure">Organisation Structure</div>
      </div>
    </div>
    <div mat-ripple class="tile flex-container" [routerLink]="['../contractmanager/cm/add-contract-type']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/user-grp.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.userManagement.organisationGroups">Organisation Groups</div>
      </div>
    </div> -->
    <div mat-ripple class="tile flex-container" [routerLink]="['user']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/tile-tasks.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.userManagement.users">Users</div>
      </div>
    </div>
    <div mat-ripple class="tile flex-container" [routerLink]="['user-groups']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/user-grp.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.userManagement.userGroups">User Groups</div>
      </div>
    </div>
    <div mat-ripple class="tile flex-container" [routerLink]="['./security-group']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/user-sec-grp.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.userManagement.securityGroups">Security Groups</div>
      </div>
    </div>
    <!-- <div mat-ripple class="tile flex-container" [routerLink]="['../upload-attribute-meta']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/user-settings.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.userManagement.applicationSettings">Application Settings</div>
      </div>
    </div> -->
  </div>
</div>
