<div class="dashboard-container flex-col-container">
  <div class="title category-title">
    <span jhiTranslate="contractmanager.configuration.addNewCategory">Add New Category</span>
  </div>

  <div class="form-container">
    <div class="contrct-category-form" [formGroup]="contractCategoryFrom">
      <!-- <span>Category Name</span> -->
      <div class="flex-col-container edit-container">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label jhiTranslate="contractmanager.configuration.categoryName">Category Name</mat-label>
          <input matInput formControlName="categoryName" />
          <mat-error *ngIf="categoryName.errors?.required" jhiTranslate="contractmanager.configuration.categoryNameRequired"
            >Category Name is required</mat-error
          >
          <mat-error *ngIf="categoryName.errors?.minlength" jhiTranslate="contractmanager.configuration.categoryNameMinLength"
            >Category Name must be at least 3 characters</mat-error
          >
          <mat-error *ngIf="categoryName.errors?.maxlength" jhiTranslate="contractmanager.configuration.categoryNameMaxLength"
            >Category Name Name must be less than 30 characters</mat-error
          >
        </mat-form-field>

        <!-- <span>Comment</span> -->
        <mat-form-field class="full-width comment-container" appearance="fill">
          <mat-label jhiTranslate="contractmanager.shared.description">Description</mat-label>
          <textarea class="comment-box" matInput formControlName="categoryDescription"></textarea>
          <mat-error *ngIf="description.errors?.maxlength" jhiTranslate="contractmanager.shared.descriptionMaxLength"
            >Description must be less than 1000 characters</mat-error
          >
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="flex-row-container dialog-control">
    <button mat-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="!contractCategoryFrom.valid" (click)="save()">Save</button>
  </div>
</div>

