<div class="dashboard-container flex-col-container">
  <div class="title">
    <button mat-icon-button [routerLink]="['..']">
      <img src="/content/images/back-arrow.svg" />
    </button>
    <span *ngIf="displayMode == 'CREATE'" jhiTranslate="contractmanager.ruleManagement.createRule">Create Rule</span>
    <span *ngIf="displayMode == 'VIEW' || displayMode == 'UPDATE'">{{ ruleCategory.value }}</span>
  </div>
  <div class="form-container">
    <form class="contrct-type-form" [formGroup]="contractRuleForm">
      <jhi-cm-stepper #cdkStepper [linear]="displayMode == 'CREATE'">
        <cdk-step [stepControl]="contractRuleForm" [editable]="true">
          <ng-template cdkStepLabel>
            <div jhiTranslate="contractmanager.shared.setup">Setup</div>
          </ng-template>
          <div class="step-header">
            <span jhiTranslate="contractmanager.shared.setup">Setup</span>
            <div>
              <button
                mat-raised-button
                color="primary"
                (click)="changeDisplayMode('UPDATE')"
                *ngIf="displayMode == 'VIEW'"
                jhiTranslate="contractmanager.shared.edit"
              >
                Edit
              </button>
            </div>
          </div>
          <div class="flex-col-container edit-container" *ngIf="displayMode == 'CREATE' || displayMode == 'UPDATE'; else viewDetails">
            <div class="col-2-layout">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label jhiTranslate="contractmanager.ruleManagement.contractCategory">Contract Category</mat-label>
                <mat-select
                  formControlName="contractCategory"
                  [compareWith]="compareObjects"
                  (selectionChange)="onCategorySelect($event.value)"
                  required
                >
                  <mat-option
                    *ngFor="let contractCategory of contractCategoriesObserver | async"
                    [value]="{ id: contractCategory.id, categoryName: contractCategory.categoryName }"
                  >
                    {{ contractCategory.categoryName }}
                  </mat-option>
                </mat-select>
                <mat-error jhiTranslate="contractmanager.ruleManagement.contractCategoryRequired">Contract Category is required</mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label jhiTranslate="contractmanager.ruleManagement.contactTypeName">Contact Type Name</mat-label>
                <mat-select
                  formControlName="contractType"
                  [compareWith]="compareObjects"
                  (selectionChange)="onContractTypeSelect($event.value)"
                  required
                >
                  <mat-option
                    *ngFor="let contractType of contractTypesByCategoryObserver | async"
                    [value]="{ id: contractType.id, name: contractType.name }"
                  >
                    {{ contractType.name }}
                  </mat-option>
                </mat-select>
                <mat-error jhiTranslate="contractmanager.ruleManagement.contactTypeRequired">Contract Type is required</mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label jhiTranslate="contractmanager.ruleManagement.ruleCategory">Rule Category</mat-label>
                <input formControlName="ruleCategory" matInput required />
                <mat-error *ngIf="ruleCategory.errors?.required" jhiTranslate="contractmanager.ruleManagement.ruleCategoryRequired"
                  >Rule Category is required</mat-error
                >
                <mat-error *ngIf="ruleCategory.errors?.minlength" jhiTranslate="contractmanager.ruleManagement.ruleCategoryMinLength"
                  >Rule Category must be at least 3 characters</mat-error
                >
                <mat-error *ngIf="ruleCategory.errors?.maxlength" jhiTranslate="contractmanager.ruleManagement.ruleCategoryMaxLength"
                  >Rule Category must be less than 30 characters</mat-error
                >
              </mat-form-field>

              <mat-form-field class="example-full-width comment-container" appearance="fill">
                <mat-label jhiTranslate="contractmanager.shared.description">Description</mat-label>
                <textarea class="comment-box" matInput formControlName="ruleDescription"></textarea>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill" required>
                <mat-label jhiTranslate="contractmanager.shared.ruleType">Rule Type</mat-label>
                <mat-select formControlName="ruleType">
                  <mat-option *ngFor="let ruleType of ruleTypes" [value]="ruleType">
                    {{ ruleType }}
                  </mat-option>
                </mat-select>
                <mat-error jhiTranslate="contractmanager.shared.ruleTypeRequired">Rule Type is required</mat-error>
              </mat-form-field>

              <mat-form-field *ngIf="ruleType.value == 'Approval Rule'" class="example-full-width" appearance="fill">
                <mat-label jhiTranslate="contractmanager.shared.teamRole">Team Role</mat-label>
                <mat-select formControlName="teamRole">
                  <mat-option *ngFor="let teamRole of teamRoles" [value]="teamRole">
                    {{ teamRole }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="flex-row-container stepper-control" *ngIf="displayMode == 'CREATE'; else update">
              <button
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="contractRuleForm.invalid"
                jhiTranslate="contractmanager.shared.next"
              >
                Next
              </button>
            </div>
          </div>
        </cdk-step>
        <cdk-step [stepControl]="contractRuleForm">
          <ng-template cdkStepLabel>
            <div jhiTranslate="contractmanager.shared.build">Build</div>
          </ng-template>
          <div class="step-header">
            <span jhiTranslate="contractmanager.shared.build">Build</span>
            <div>
              <button
                mat-raised-button
                color="primary"
                (click)="changeDisplayMode('UPDATE')"
                *ngIf="displayMode == 'VIEW'"
                jhiTranslate="contractmanager.shared.edit"
              >
                Edit
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="addNewRule()"
                *ngIf="displayMode == 'CREATE' || displayMode == 'UPDATE'"
                jhiTranslate="contractmanager.ruleManagement.addRule"
              >
                Add Rule
              </button>
            </div>
          </div>
          <div class="flex-col-container edit-container" *ngIf="displayMode == 'CREATE' || displayMode == 'UPDATE'; else viewDetails">
            <div class="col-1-layout">
              <div [formGroup]="ruleDetailsFormGroup">
                <div formArrayName="ruleDetailsFormArray">
                  <div *ngFor="let ruleCtrl of ruleDetails().controls; let i = index">
                    <div [formGroupName]="i">
                      <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ ruleCtrl.get('ruleName')!.value }}
                          </mat-panel-title>
                          <mat-panel-description>
                            <!--                            Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
                          </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label jhiTranslate="contractmanager.ruleManagement.ruleName">Rule Name</mat-label>
                          <input formControlName="ruleName" matInput required />
                          <mat-error *ngIf="ruleCategory.errors?.required" jhiTranslate="contractmanager.ruleManagement.ruleNameRequired"
                            >Rule Name is required</mat-error
                          >
                          <mat-error *ngIf="ruleCategory.errors?.minlength" jhiTranslate="contractmanager.ruleManagement.ruleNameMinLength"
                            >Rule Name must be at least 3 characters</mat-error
                          >
                          <mat-error *ngIf="ruleCategory.errors?.maxlength" jhiTranslate="contractmanager.ruleManagement.ruleNameMaxLength"
                            >Rule Name must be less than 30 characters</mat-error
                          >
                        </mat-form-field>
                        <div class="summary-block">
                          <div class="step-header">
                            <span jhiTranslate="contractmanager.shared.conditions">Conditions</span>
                          </div>
                        </div>
                        <div class="summary-block">
                          <div class="step-header">
                            <span jhiTranslate="contractmanager.shared.actions">Actions</span>
                          </div>
                        </div>
                        <div class="summary-block">
                          <div class="step-header">
                            <span jhiTranslate="contractmanager.shared.options">Options</span>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-row-container stepper-control" *ngIf="displayMode == 'CREATE'; else update">
              <button
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="contractRuleForm.invalid"
                jhiTranslate="contractmanager.shared.next"
              >
                Next
              </button>
            </div>
          </div>
        </cdk-step>
        <cdk-step [stepControl]="contractRuleForm">
          <ng-template cdkStepLabel>
            <div jhiTranslate="contractmanager.shared.summary">Summary</div>
          </ng-template>
          <div class="step-header">
            <span jhiTranslate="contractmanager.shared.summary">Summary</span>
            <div>
              <button
                mat-raised-button
                color="primary"
                (click)="changeDisplayMode('UPDATE')"
                *ngIf="displayMode == 'VIEW'"
                jhiTranslate="contractmanager.shared.edit"
              >
                Edit
              </button>
            </div>
          </div>
        </cdk-step>
      </jhi-cm-stepper>
      <ng-template #viewDetails> </ng-template>
      <ng-template #update> </ng-template>
    </form>
  </div>
</div>
