@import '../../../../content/scss/bootstrap-variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~material-design-icons/iconfont/material-icons.css';
.dashboard-container {
  padding: 40px;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: -1px;
}
.title > button {
  display: inline;
  vertical-align: text-bottom;
}

.mat-header-row {
  background: #edf2f6;
}

.view-types-container {
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 20px;
}

.dashboard-container {
  padding: 20px;
  height: 100%;
}
.load-spinner-wrapper {
  position: fixed;
  width: 83%;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
}
.load-spinner-container {
  display: flex;
  margin: 0 auto;
}

mat-row {
  cursor: pointer;
}
