<div class="col-2-container" [formGroup]="associationForm">
  <div class="header">
    <span jhiTranslate="contractmanager.configuration.addAssociations">Add Associations</span>
  </div>
  <div></div>
  <mat-form-field appearance="fill">
    <mat-label jhiTranslate="contractmanager.configuration.associationName">Association Name</mat-label>
    <input formControlName="associationName" matInput />
    <mat-error *ngIf="associationName.errors?.required" jhiTranslate="contractmanager.configuration.associationNameRequired"
      >Association Name is required</mat-error
    >
    <mat-error *ngIf="associationName.errors?.minlength" jhiTranslate="contractmanager.configuration.associationNameMinLength"
      >Association Name must be at least 3 characters</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label jhiTranslate="contractmanager.configuration.associatedContractType">Associated Contract Type</mat-label>
    <mat-select formControlName="associatedContractType">
      <mat-option> </mat-option>
    </mat-select>
    <mat-error jhiTranslate="contractmanager.configuration.associatedContractTypeRequired">Associated Contract Type is required</mat-error>
  </mat-form-field>

  <div class="header">
    <span jhiTranslate="contractmanager.configuration.relationType">Relation Type</span>
  </div>
  <div></div>

  <div class="flex-row-container toggle-container">
    <span jhiTranslate="contractmanager.configuration.allowInheritance">Allow Inheritance <mat-icon>help_outline</mat-icon> </span>
    <div>
      <mat-slide-toggle formControlName="allowInheritance"></mat-slide-toggle>
    </div>
  </div>
  <div class="flex-row-container toggle-container">
    <span jhiTranslate="contractmanager.configuration.allowTwowayLinkage">Allow Two-way linkage <mat-icon>help_outline</mat-icon> </span>
    <div>
      <mat-slide-toggle formControlName="allowTwowayLinkage"></mat-slide-toggle>
    </div>
  </div>
  <div class="flex-row-container toggle-container">
    <span jhiTranslate="contractmanager.configuration.allowMultipleInstance"
      >Allow multiple instance <mat-icon>help_outline</mat-icon>
    </span>
    <div>
      <mat-slide-toggle formControlName="allowMutipleInstance"></mat-slide-toggle>
    </div>
  </div>
  <div class="flex-row-container toggle-container">
    <span jhiTranslate="contractmanager.configuration.allowPeerCreationWizard"
      >Allow peer creation wizard <mat-icon>help_outline</mat-icon>
    </span>
    <div>
      <mat-slide-toggle formControlName="allowPeerCreationWizard"></mat-slide-toggle>
    </div>
  </div>
  <div class="flex-row-container toggle-container">
    <span jhiTranslate="contractmanager.shared.isMandatory">Is Mandatory <mat-icon>help_outline</mat-icon> </span>
    <div>
      <mat-slide-toggle formControlName="IsMandatory"></mat-slide-toggle>
    </div>
  </div>
  <div class="flex-row-container toggle-container">
    <span jhiTranslate="contractmanager.configuration.useCustomNomenclature"
      >Use custom nomenclature <mat-icon>help_outline</mat-icon>
    </span>
    <div>
      <mat-slide-toggle formControlName="useCustomNomenclature"></mat-slide-toggle>
    </div>
  </div>
  <div class="flex-row-container toggle-container">
    <span jhiTranslate="contractmanager.configuration.defineByRule">Define by rule <mat-icon>help_outline</mat-icon> </span>
    <div>
      <mat-slide-toggle formControlName="defineByRule"></mat-slide-toggle>
    </div>
  </div>
  <div class="flex-row-container toggle-container">
    <span jhiTranslate="contractmanager.configuration.inlineAssociation">Inline association <mat-icon>help_outline</mat-icon> </span>
    <div>
      <mat-slide-toggle formControlName="inlineAssociation"></mat-slide-toggle>
    </div>
  </div>
</div>
<div class="flex-row-container dialog-control">
  <button mat-button color="primary" jhiTranslate="contractmanager.shared.cancel">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()" jhiTranslate="contractmanager.shared.save">Save</button>
</div>
