<div class="dashboard-container d-flex flex-column">
  <div class="title mb-4">
    <button mat-icon-button [routerLink]="['..']">
      <img src="/content/images/back-arrow.svg" />
    </button>
    <span jhiTranslate="contractmanager.userManagement.userRoles">User Roles</span>
  </div>
  <div class="view-types-container">
    <mat-table [dataSource]="userRolesDataSource" matSort>
      <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef jhiTranslate="contractmanager.userManagement.roles"> Roles </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="displayName">
        <mat-header-cell *matHeaderCellDef jhiTranslate="contractmanager.shared.displayName_1"> Display Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.displayName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="justify-content-center" jhiTranslate="contractmanager.shared.action">
          Action
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="justify-content-center">
          <img src="/content/images/Groupedit.svg" (click)="editUserRole(element)" style="cursor: pointer" />
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="userRolesColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: userRolesColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
