.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
table {
  width: 100%;
}
.delete-icon {
  text-align: right;
}

.mat-row,
.mat-cell {
  border: none !important;
}
