<div class="dashboard-container d-flex flex-column">
  <div class="title">
    <button mat-icon-button [routerLink]="['..']">
      <img src="/content/images/back-arrow.svg" />
    </button>
    <span jhiTranslate="contractmanager.userManagement.users">Users</span>
  </div>
  <div class="view-types-container flex-grow-1">
    <mat-table [dataSource]="usersDataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef jhiTranslate="contractmanager.userManagement.userName_1"> User Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.firstName + ' ' + element.lastName | titlecase }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <mat-header-cell *matHeaderCellDef jhiTranslate="contractmanager.shared.createdBy"> Created By </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.createdBy | titlecase }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdOn">
        <mat-header-cell *matHeaderCellDef jhiTranslate="contractmanager.shared.createdOn"> Created On </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.createdDate | date: 'MMM d, y, h:mm a' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="flex-grow-0"> </mat-header-cell>
        <mat-cell *matCellDef="let element" class="flex-grow-0">
          <img src="/content/images/detail-view-arrow.svg" />
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="usersColumns"></mat-header-row>
      <mat-row class="cursor-pointer" *matRowDef="let row; columns: usersColumns" (click)="navigateTo(row)"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
</div>
