<div class="dashboard-container">
  <div class="title" jhiTranslate="contractmanager.templateManagement.templateManagement">Template Management</div>
  <div class="grid-container tiles-container">
    <div mat-ripple class="tile flex-container" [routerLink]="['./view-contract-templates']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/list_view.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.shared.templates">Templates</div>
      </div>
    </div>
    <div mat-ripple class="tile flex-container" [routerLink]="['./add-contract-template']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/config-Add.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.templateManagement.createTemplate">Create Template</div>
      </div>
    </div>
  </div>
</div>
