.tile {
  width: 100%;
  height: 18vh;
  background-color: white;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  color: #465b70;
  border: 1px solid rgba(0, 24, 51, 0.24);
}
// .tile:hover{
//     background-color: #034EA2;
//     transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
//     transition-property: background-color;
//     transition-duration: 200ms;
//     color: white;
// }

.tiles-container {
  padding: 40px 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.dashboard-container {
  padding: 2.5% 2.7%;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-icon-container {
  flex: 2;
}
.tile-icon {
  // flex: 1;
  width: 65px;
  height: 65px;
  background: #e6f7fe;
  border-radius: 50%;
}

.tile-info {
  flex: 3;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25px;
  height: 32px;
  margin-top: 15px; //temp
}

.tile-info-label {
  font-style: normal;
  font-size: 14px;
}
