<div class="dashboard-container">
  <div class="title" jhiTranslate="contractmanager.ruleManagement.ruleManagement">Rule Management</div>
  <div class="grid-container tiles-container">
    <div mat-ripple class="tile flex-container" [routerLink]="['./view-contract-rules']">
      <div mat-ripple class="tile flex-container">
        <div class="tile-icon-container flex-container">
          <div class="tile-icon">
            <img src="/content/images/list_view.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.ruleManagement.rules">Rules</div>
      </div>
    </div>
    <div mat-ripple class="tile flex-container" [routerLink]="['./add-contract-rule']">
      <div mat-ripple class="tile flex-container">
        <div class="tile-icon-container flex-container">
          <div class="tile-icon">
            <img src="/content/images/config-Add.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label" jhiTranslate="contractmanager.ruleManagement.createRule">Create Rule</div>
      </div>
    </div>
  </div>
</div>
