<div class="dashboard-container">
  <div class="title">
    <button mat-icon-button [routerLink]="['/contractmanager/user-management']">
      <img src="/content/images/back-arrow.svg" />
    </button>
    Users
  </div>
  <div class="grid-container tiles-container">
    <div mat-ripple class="tile flex-container" [routerLink]="['view-users']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/user-org.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label">Users</div>
      </div>
    </div>
    <div mat-ripple class="tile flex-container" [routerLink]="['add-user']">
      <div class="tile-icon-container flex-container">
        <div class="tile-icon">
          <img src="/content/images/user-org.svg" alt="" />
        </div>
      </div>
      <div class="tile-info">
        <div class="tile-info-label">Create User</div>
      </div>
    </div>
  </div>
</div>
